.element {
    margin: 1em;
}

.container {
    width: 40%;
    min-width: 400px;
}

.center {
    text-align: center;
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
}

.input-description {
    float: right;
    width: 6em;
    text-align: right;
    margin-right: 0.5em;
}

input {
    margin: 0;
}