<div class="space-container"></div>
<div class="login-container">
  <div class="content-box">
    <div class="title-container">
        Sign in to begin your session
    </div>
    <div class="input-container">
      <input placeholder="username" (keyup)="onUsernameKey($event)" autofocus>
    </div>
    <div class="input-container">
      <input type="password" placeholder="password" (keyup)="onPasswordKey($event)" (keyup.enter)="login()" #passwordinput>
    </div>
    <div class="error-container">
      <div *ngIf="showError" class="error-message">
        {{errorMessage}}
      </div>
    </div>
    <div class="spinner-container">
      <div class="spinner" *ngIf="loggingIn">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <div class="button-container">
      <button (click)="login()" [disabled]="!canLogin || loggingIn">Log in</button>
    </div>
  </div>
</div>  
