<div class="space"></div>
<nav class="navbar">
  <div class="container">
    <div class="logo">
      <span class="title text-light">Gecko</span>
      <img src="assets/images/gecko-icon.png" class="icon"/>
    </div>
    <div class="navHolder" *ngIf="loggedIn">
      <nav class="my-2 my-md-0 mr-md-3">
        <!-- TODO: uncomment this once these references have meaning and are functional
        <a class="p-2 text-light">Trips</a>
        <a class="p-2 text-light">New Trip</a>
        <a class="p-2 text-light">Statistics</a>
        <a class="p-2 text-light">Apartments</a>
        <a class="p-2 text-light">Help</a>
        -->
        <button class="create-button" (click)="goToCreateNewGroupTrip()">Create</button>
        <a *ngIf="user" class="p-2 text-light">{{user.fullname}}</a>
        <a><img class="imgUser" src="../../../assets/userIcon.png" [popover]="myPopover"></a>

        <popover-content #myPopover placement="bottom" [closeOnClickOutside]="true">
          <img class="imgUserWindow" src="../../../assets/userIcon.png">
          <hr class="breakLine">
          <p class="userInformation">{{user.fullname}}</p>
          <hr class="breakLine">
          <p class="userInformation">{{user.email}}</p>
          <hr>
          <button type="button" class="buttonLogout" (click)="logout()">Logout</button>
        </popover-content>
      </nav>
    </div>
  </div>
</nav>
