.navbar {
    background-color: #4d724d;
    position: fixed;
    top: 0;
    width: 100%;
}

.title {
    color: #f5f5f5;
    font-size: 1.5em;
    font-family: "OpenSans"
}

.space {
    height: 3.5em;
}