.navbar {
    background-color: #4d724d;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.title {
    color: #f5f5f5;
    font-size: 1.5em;
    font-family: "OpenSans";
    margin-right: 0.4em;
    margin-left: 1em;
}

.space {
    height: 3.5em;
}

.btn-outline-primary {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn:hover {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.imgUser {
    width: 2.5em;
    height: 2.5em;
    color: #f8f9fa;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.icon {
    width: 1.5em;
    height: 1.5em;
}

.container {
    display: flex;
}

.navHolder {
    float:right;
}

.logo {
    display: flex;
    align-items: center;
}
.imgUserWindow {
    width: 5em;
    height: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* found this solution in the repo of ngx popover */
:host >>> .popover {
    width: 16em;
}
.buttonLogout {
    margin-bottom: .3em;
    margin-top: 1em;
    background-color: transparent;
    width: 95%;
    color: #4d724d;
    border: .1em solid;
    border-color: #4d724d;
    margin-left: 0.4em;
}
.buttonLogout:hover{
    background-color: rgba(77, 114, 77, 0.6);
}
.btn:focus {
    outline: none;
}
.userInformation {
    margin-left: .5em;
}
.breakLine {
    margin-top: .3em;
}

.create-button {
    margin-right: 0.25em;
    color:#4d724d;
    font-family: "OpenSans";
}
