.status-bar {
    height: 0.4em;
    border-radius: 0.4em;
}

.event-view-line {
    display: flex;
    vertical-align: middle;
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.space {
    justify-content: space-between;
}

.event-view-line-text {
    display: inline-block;
    vertical-align: middle;
}

.event-view-title {
    font-size: 1.25em;
    font-family: "OpenSans";
}

.float-right {
    float: right;
    margin-left: 0.5em;
}

.comments-button {
    width: 9em;
}

.max-width {
    width: 100%;
}

button {
    margin-top: 0.4em;
}

.clickable-text {
    background-color: white;
    color: #7a7a7a;
    padding: 0;
}

.active:active .focus:focus {
    background-color: red;
}

p {
    margin: 0;
}

.details-container {
    padding: 1em;
    padding-bottom: 0.75em;
    margin-top: 0 !important;
    padding-top: 0 !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
}

.details-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    vertical-align: middle;
}

.button-container-element {
    display: inline-block;
    margin-left: 0.5em;
}

.spinner-container {
    margin-right: 0.5em;
}

.alert-container {
    margin-left: 1em;
    margin-right: 1em;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.min-width-10 {
    width: 10em;
    text-align: left;
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-side-1 {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.4em;
}
