.content-box {
    padding-left: 1.5em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.title-container {
    font-size: 1.5em;
    font-family: 'OpenSans';
    margin-top: 0.5em;
    display: inline-block;
}

.sub-title-container {
    font-size: 1.25em;
    color: #4d724d;
}

.content-section {
    margin-bottom: 1em;
}

.date-picker-container {
    margin-right: 1.5em;
    display: inline-block;
    margin-top: 0.5em;
}

.date-picker-title-container {
    margin-bottom: 0.4em;
}

.spinner-container {
    margin-left: 1em;
    display: inline-block;
}

.add-member-container {
    margin-top: 0.5em;
    display: inline-block;
}

.submit-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.submit-container-element {
    display: flex;
}

.width-80 {
    width: 80%;
}

.max-width {
    width: 100%;
}

.member-divider {
    margin: 0em;
    margin-bottom: 0.5em;
}
