.member-select {
    width: 14em;
}

.member-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.3em;
    padding-left: 0.1em;
}

.info-container-element {
    margin-right: 0.5em;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

input {
    margin: 0 !important;
}

.advanced-switch {
    margin-top: 0.4em;
}

.user-available {
    color: #4d724d;
}

.user-unavailable {
    color: #e67a65;
}

.btn {
    margin-left: 0.5em;
}
