.name {
    font-weight: bold;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
}

.comment {
    font-size:0.9em;
    background-color: #f5f5f5;
    border-radius: 0.8em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.comment-header {
    display: flex;
    justify-content: left;
}
