<div class="container">

  <div *ngIf="groupTripJustCreated" class="alert-container">
    <ngb-alert type="success" (close)="closeAlert()">
      <strong>Success!</strong> Group trip has been created and sent for approval.
    </ngb-alert>
  </div>

  <div *ngIf="unconfirmedGroupTripCount > 0" class="alert-container">
    <ngb-alert type="info" (close)="closeInfoAlert()">
      There {{unconfirmedGroupTripCount === 1 ? 'is' : 'are'}} <strong>{{unconfirmedGroupTripCount}}</strong> {{unconfirmedGroupTripCount === 1 ? 'trip' : 'trips'}} pending your confirmation.
    </ngb-alert>
  </div>

  <div class="error-container" *ngIf="emptyEvents() && !loading">
    No trips to show
  </div>
  <div class="error-container" *ngIf="loading">
    <spinner></spinner>
  </div>
  <div *ngIf="!emptyEvents()">
    <div *ngFor="let viewModel of viewModels">
      <event-view [viewModel]="viewModel"></event-view>
    </div>
  </div>
</div>
