.event-view {
    background-color: white;
    border-radius: 0.4em;
    margin: 0.75em;
    border: 1px solid #d9d9d9;
    position: relative;
}

.status-bar {
    height: 0.4em;
    border-radius: 0.4em;
}

.event-view-line {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0.5em;
    margin-left: 1em;
}

.event-view-line-text {
    display: inline-block;
    vertical-align: middle;
}

.event-view-title {
    font-size: 1.5em;
    font-family: "OpenSans";
    color: #4d724d;
}

.float-right {
    float: right;
    margin-left: 0.5em;
}

.comments-button {
    width: 9em;
}

.comment-section {
    width: 100%;
}
