<div class="content-box" (click)="toggleExpanded()">
  <div class="event-view-line space">
    <div class="event-view-title">
      {{groupTrip.officeFrom.name}} - {{groupTrip.officeTo.name}}
    </div>
    <div class="float-right">
      {{groupTrip.dateFrom}} - {{groupTrip.dateTo}}
    </div>
  </div>
  <div class="event-view-line">
    <event-view-status [status]="groupTrip.status" [advisorFullname]="groupTrip.advisor.fullname"></event-view-status>
  </div>
  <div class="event-view-line" *ngIf="expanded">
    <event-details></event-details>
  </div>
  <div class="event-view-line">
    <button class="clickable-text" (click)="$event.preventDefault(); $event.stopPropagation(); toggleComments()">{{getCommentCount()}} comments</button>
  </div>
  <div class="event-view-line" *ngIf="showComments">
    <comment-list-view [comments]="groupTrip.comments" class="max-width"></comment-list-view>
  </div>
</div>
