<div class="event-view" (click)="toggleExpanded()">
  <div class="event-view-line space">
    <div class="event-view-title">
      {{event.officeFrom.name}} - {{event.officeTo.name}}
    </div>
    <div class="float-right">
      {{event.date}}
    </div>
  </div>
  <div class="event-view-line">
    <event-view-status [status]="event.status" [advisorFullname]="event.advisor.fullname"></event-view-status>
  </div>
  <div class="event-view-line" *ngIf="expanded">
    <event-details></event-details>
  </div>
  <div class="event-view-line">
    <button class="clickable-text" (click)="$event.preventDefault(); $event.stopPropagation(); toggleComments()">{{getCommentCount()}} comments</button>
  </div>
  <div class="event-view-line" *ngIf="showComments">
    <comment-list-view [comments]="event.comments" class="max-width"></comment-list-view>
  </div>
</div>
