<div class="container">
  <div class="spinner-container" *ngIf="loadingAdmin">
    <spinner></spinner>
  </div>
  <div *ngIf="!loadingAdmin">
    
    <div *ngIf="userWasJustCreated" class="alert-container first-element">
      <ngb-alert type="success" (close)="closeUserCreatedAlert()">
        <strong>Success!</strong> Employee <strong>{{newUserFullname}}</strong> has been created.
      </ngb-alert>
    </div>

    <register-employee (onUserCreated)="showUserCreatedDialog($event)"></register-employee>

    <div *ngIf="userWasJustRemoved" class="alert-container">
      <ngb-alert type="success" (close)="closeUserRemovedAlert()">
        <strong>Success!</strong> Employee <strong>{{removedUserFullname}}</strong> was removed.
      </ngb-alert>
    </div>

    <remove-employee (onUserRemoved)="onUserRemoved($event)"></remove-employee>
  </div>
</div>