html, body {
    height: 100%;
    background-color: #f5f5f5;
}

body {
    position: relative;
}

.root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'OpenSansLight';
}

button {
    background-color: #c8dbc3;
    border: none;
    border-radius: 0.2em;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.btn-outline-secondary {

}

.btn-outline-primary {
    color: #4d724d;
    border-color: #4d724d;
}

.btn-outline-primary:hover {
    background-color: #4d724d;
    color: white;
    border-color: #4d724d;
}

.btn-outline-primary:disabled {
    background-color: white !important;
    border-color: #4d724d !important;
    color: black !important;
}

.btn-outline-secondary2 {
    color: white;
    border-color: white;
}

.btn-outline-secondary2:hover {
    background-color: white;
    color: #4d724d;
    border-color: white;
}

.btn-outline-secondary2:disabled {
    background-color: white !important;
    border-color: #4d724d !important;
    color: white !important;
}

.button-primary {
    background-color: #4d724d;
    color: white;
    padding: 0.4em;
    padding-right: 0.8em;
    padding-left: 0.8em;
    font-family: 'OpenSans';
}

:focus {
    outline: 0 !important;
}

.content-box {
    background-color: white;
    border-radius: 0.4em;
    margin: 0.75em;
    border: 1px solid #d9d9d9;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-box-header {
    font-size: 1.25em;
    font-family: 'OpenSans';
    margin-bottom: 1em;
}

input {
    border: 1px solid #d9d9d9;
    margin-bottom: 0.5em;
    font-size:0.9em;
    background-color: #f5f5f5;
    border-radius: 1.5em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
}

.info-text {
    color: #7a7a7a;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

select {
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.space-after-container {
    margin-bottom: 6em;
}

.ngb-dp-weekday, .btn-link {
    color: #4d724d !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
