.dot {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    padding-right: 1em;
    vertical-align: middle;
}

.dot-pending {
    background-color: #d9d9d9;
}

.dot-approved {
    background-color: #4d724d;
}

.dot-rejected, .dot-canceled {
    background-color: #e67a65;
}

.dot-archived {
    background-color: #8c8c8c;
}

.status-text {
    display: inline-block;
    padding-left: 0.4em;
}

.approved {
    color: #8db48e;
}