.content-box {
    padding: 1em;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-container {
    margin-right: 0.5em;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.spinner-container {
    margin-right: 1em;
}
